  <% @display_cards.each {|card|   %>

      <%  if card == "blank card" %>
          <div style="background-color:blue; width: 73px; height: 98px; float: left;"></div>
      <% end  %>

      <% if card == "ace of clubs"  %>
          <div style="background-image:url('/assets/classic-playing-cards.png'); background-position: 0px 0px; width: 73px; height: 98px; float: left;"></div>
      <% end  %>
      <% if card == "2 of clubs" %>
          <div style="background-image:url('/assets/classic-playing-cards.png'); background-position: -73px 0px; width: 73px; height: 98px; float: left;"></div>
      <% end %>
      <% if card == "3 of clubs" %>
          <div style="background-image:url('/assets/classic-playing-cards.png'); background-position: -146px 0px; width: 73px; height: 98px; float: left;"></div>
      <% end %>
      <% if card == "4 of clubs" %>
          <div style="background-image:url('/assets/classic-playing-cards.png'); background-position: -216px 0px; width: 73px; height: 98px; float: left;"></div>
      <% end %>
      <% if card == "5 of clubs" %>
          <div style="background-image:url('/assets/classic-playing-cards.png'); background-position: -292px 0px; width: 73px; height: 98px; float: left;"></div>
      <% end %>
      <% if card == "6 of clubs" %>
          <div style="background-image:url('/assets/classic-playing-cards.png'); background-position: -365px 0px; width: 73px; height: 98px; float: left;"></div>
      <% end %>
      <% if card == "7 of clubs" %>
          <div style="background-image:url('/assets/classic-playing-cards.png'); background-position: -438px 0px; width: 73px; height: 98px; float: left;"></div>
      <% end %>
      <% if card == "8 of clubs" %>
          <div style="background-image:url('/assets/classic-playing-cards.png'); background-position: -511px 0px; width: 73px; height: 98px; float: left;"></div>
      <% end %>
      <% if card == "9 of clubs" %>
          <div style="background-image:url('/assets/classic-playing-cards.png'); background-position: -584px 0px; width: 73px; height: 98px; float: left;"></div>
      <% end %>
      <% if card == "10 of clubs" %>
          <div style="background-image:url('/assets/classic-playing-cards.png'); background-position: -657px 0px; width: 73px; height: 98px; float: left;"></div>
      <% end %>
      <% if card == "jack of clubs" %>
          <div style="background-image:url('/assets/classic-playing-cards.png'); background-position: -730px 0px; width: 73px; height: 98px; float: left;"></div>
      <% end %>
      <% if card == "queen of clubs" %>
          <div style="background-image:url('/assets/classic-playing-cards.png'); background-position: -803px 0px; width: 73px; height: 98px; float: left;"></div>
      <% end %>
      <% if card == "king of clubs" %>
          <div style="background-image:url('/assets/classic-playing-cards.png'); background-position: -876px 0px; width: 73px; height: 98px; float: left;"></div>
      <% end %>

      <% if card == "ace of spades"  %>
          <div style="background-image:url('/assets/classic-playing-cards.png'); background-position: 0px -98px; width: 73px; height: 98px; float: left;"></div>
      <% end  %>
      <% if card == "2 of spades" %>
          <div style="background-image:url('/assets/classic-playing-cards.png'); background-position: -73px -98px; width: 73px; height: 98px; float: left;"></div>
      <% end %>
      <% if card == "3 of spades" %>
          <div style="background-image:url('/assets/classic-playing-cards.png'); background-position: -146px -98px; width: 73px; height: 98px; float: left;"></div>
      <% end %>
      <% if card == "4 of spades" %>
          <div style="background-image:url('/assets/classic-playing-cards.png'); background-position: -216px -98px; width: 73px; height: 98px; float: left;"></div>
      <% end %>
      <% if card == "5 of spades" %>
          <div style="background-image:url('/assets/classic-playing-cards.png'); background-position: -292px -98px; width: 73px; height: 98px; float: left;"></div>
      <% end %>
      <% if card == "6 of spades" %>
          <div style="background-image:url('/assets/classic-playing-cards.png'); background-position: -365px -98px; width: 73px; height: 98px; float: left;"></div>
      <% end %>
      <% if card == "7 of spades" %>
          <div style="background-image:url('/assets/classic-playing-cards.png'); background-position: -438px -98px; width: 73px; height: 98px; float: left;"></div>
      <% end %>
      <% if card == "8 of spades" %>
          <div style="background-image:url('/assets/classic-playing-cards.png'); background-position: -511px -98px; width: 73px; height: 98px; float: left;"></div>
      <% end %>
      <% if card == "9 of spades" %>
          <div style="background-image:url('/assets/classic-playing-cards.png'); background-position: -584px -98px; width: 73px; height: 98px; float: left;"></div>
      <% end %>
      <% if card == "10 of spades" %>
          <div style="background-image:url('/assets/classic-playing-cards.png'); background-position: -657px -98px; width: 73px; height: 98px; float: left;"></div>
      <% end %>
      <% if card == "jack of spades" %>
          <div style="background-image:url('/assets/classic-playing-cards.png'); background-position: -730px -98px; width: 73px; height: 98px; float: left;"></div>
      <% end %>
      <% if card == "queen of spades" %>
          <div style="background-image:url('/assets/classic-playing-cards.png'); background-position: -803px -98px; width: 73px; height: 98px; float: left;"></div>
      <% end %>
      <% if card == "king of spades" %>
          <div style="background-image:url('/assets/classic-playing-cards.png'); background-position: -876px -98px; width: 73px; height: 98px; float: left;"></div>
      <% end %>

      <% if card == "ace of hearts"  %>
          <div style="background-image:url('/assets/classic-playing-cards.png'); background-position: 0px -196px; width: 73px; height: 98px; float: left;"></div>
      <% end  %>
      <% if card == "2 of hearts" %>
          <div style="background-image:url('/assets/classic-playing-cards.png'); background-position: -73px -196px; width: 73px; height: 98px; float: left;"></div>
      <% end %>
      <% if card == "3 of hearts" %>
          <div style="background-image:url('/assets/classic-playing-cards.png'); background-position: -146px -196px; width: 73px; height: 98px; float: left;"></div>
      <% end %>
      <% if card == "4 of hearts" %>
          <div style="background-image:url('/assets/classic-playing-cards.png'); background-position: -219px -196px; width: 73px; height: 98px; float: left;"></div>
      <% end %>
      <% if card == "5 of hearts" %>
          <div style="background-image:url('/assets/classic-playing-cards.png'); background-position: -292px -196px; width: 73px; height: 98px; float: left;"></div>
      <% end %>
      <% if card == "6 of hearts" %>
          <div style="background-image:url('/assets/classic-playing-cards.png'); background-position: -365px -196px; width: 73px; height: 98px; float: left;"></div>
      <% end %>
      <% if card == "7 of hearts" %>
          <div style="background-image:url('/assets/classic-playing-cards.png'); background-position: -438px -196px; width: 73px; height: 98px; float: left;"></div>
      <% end %>
      <% if card == "8 of hearts" %>
          <div style="background-image:url('/assets/classic-playing-cards.png'); background-position: -511px -196px; width: 73px; height: 98px; float: left;"></div>
      <% end %>
      <% if card == "9 of hearts" %>
          <div style="background-image:url('/assets/classic-playing-cards.png'); background-position: -584px -196px; width: 73px; height: 98px; float: left;"></div>
      <% end %>
      <% if card == "10 of hearts" %>
          <div style="background-image:url('/assets/classic-playing-cards.png'); background-position: -657px -196px; width: 73px; height: 98px; float: left;"></div>
      <% end %>
      <% if card == "jack of hearts" %>
          <div style="background-image:url('/assets/classic-playing-cards.png'); background-position: -730px -196px; width: 73px; height: 98px; float: left;"></div>
      <% end %>
      <% if card == "queen of hearts" %>
          <div style="background-image:url('/assets/classic-playing-cards.png'); background-position: -803px -196px; width: 73px; height: 98px; float: left;"></div>
      <% end %>
      <% if card == "king of hearts" %>
          <div style="background-image:url('/assets/classic-playing-cards.png'); background-position: -876px -196px; width: 73px; height: 98px; float: left;"></div>
      <% end %>

      <% if card == "ace of diamonds"  %>
          <div style="background-image:url('/assets/classic-playing-cards.png'); background-position: 0px -294px; width: 73px; height: 98px; float: left;"></div>
      <% end  %>
      <% if card == "2 of diamonds" %>
          <div style="background-image:url('/assets/classic-playing-cards.png'); background-position: -73px -294px; width: 73px; height: 98px; float: left;"></div>
      <% end %>
      <% if card == "3 of diamonds" %>
          <div style="background-image:url('/assets/classic-playing-cards.png'); background-position: -146px -294px; width: 73px; height: 98px; float: left;"></div>
      <% end %>
      <% if card == "4 of diamonds" %>
          <div style="background-image:url('/assets/classic-playing-cards.png'); background-position: -219px -294px; width: 73px; height: 98px; float: left;"></div>
      <% end %>
      <% if card == "5 of diamonds" %>
          <div style="background-image:url('/assets/classic-playing-cards.png'); background-position: -292px -294px; width: 73px; height: 98px; float: left;"></div>
      <% end %>
      <% if card == "6 of diamonds" %>
          <div style="background-image:url('/assets/classic-playing-cards.png'); background-position: -365px -294px; width: 73px; height: 98px; float: left;"></div>
      <% end %>
      <% if card == "7 of diamonds" %>
          <div style="background-image:url('/assets/classic-playing-cards.png'); background-position: -438px -294px; width: 73px; height: 98px; float: left;"></div>
      <% end %>
      <% if card == "8 of diamonds" %>
          <div style="background-image:url('/assets/classic-playing-cards.png'); background-position: -511px -294px; width: 73px; height: 98px; float: left;"></div>
      <% end %>
      <% if card == "9 of diamonds" %>
          <div style="background-image:url('/assets/classic-playing-cards.png'); background-position: -584px -294px; width: 73px; height: 98px; float: left;"></div>
      <% end %>
      <% if card == "10 of diamonds" %>
          <div style="background-image:url('/assets/classic-playing-cards.png'); background-position: -657px -294px; width: 73px; height: 98px; float: left;"></div>
      <% end %>
      <% if card == "jack of diamonds" %>
          <div style="background-image:url('/assets/classic-playing-cards.png'); background-position: -730px -294px; width: 73px; height: 98px; float: left;"></div>
      <% end %>
      <% if card == "queen of diamonds" %>
          <div style="background-image:url('/assets/classic-playing-cards.png'); background-position: -803px -294px; width: 73px; height: 98px; float: left;"></div>
      <% end %>
      <% if card == "king of diamonds" %>
          <div style="background-image:url('/assets/classic-playing-cards.png'); background-position: -876px -294px; width: 73px; height: 98px; float: left;"></div>
      <% end %>

  <%    } # each loop   %>

  <div style="display: table;clear: both; "> </div>




